{% if content %}

<div class="col-12 col-md-6 col-lg-4 col-xl-3">
    <div class="item-listing-container-skrn">
        <a href="{% url 'detail' content.slug %}"><img style="height: 22rem" src="{{ content.img.url }}" alt="Listing"></a>
        <div class="item-listing-text-skrn">
            <div class="item-listing-text-skrn-vertical-align"><h6><a href="{% url 'detail' content.slug %}">{{ content.name }}</a></h6>
              <!-- <div
                class="circle-rating-pro"
                data-value="{{content.rating}}"
                data-animation-start-value="0.86"
                data-size="32"
                data-thickness="3"
                data-fill="{
                  &quot;color&quot;: &quot;#42b740&quot;
                }"
                data-empty-fill="#def6de"
                data-reverse="true"
              ><span style="color:#42b740;">{{content.rating}}</span></div> -->
            </div><!-- close .item-listing-text-skrn-vertical-align -->
        </div><!-- close .item-listing-text-skrn -->
    </div><!-- close .item-listing-container-skrn -->
</div><!-- close .col -->
{% else %}
<h1>No Results</h1>
{% endif %}