{% extends 'base.html' %}
{% load static %}
{% load like %}
{% block content %}
<link rel="stylesheet" href="{% static 'filter.css' %}">
<div class="row shadow p-3 mb-5 bg-white rounded" style="margin:2% 15%;">
	<!-- First Half -->
	<div class="col-md-6 ">
		<div class=" ">
			<div class=" pt-5 pb-5 " style="padding:-30% 0 0 16%;">
				{% if content.img %}
				<img src="{{content.img.url}}" style="height: 450px;width: 450px;">
				{% else %}
				<img src="{{content.img_url}}" style="height: 550px;width: 550px;">

				{% endif %}
			</div>
		</div>
	</div>
	<!-- Second Half -->
	<div class="col-md-6 " style="font-size: large;;">
		<div class="  ">
			<h1>{{content.name}} </h1>
			<p style="font-weight: 900;"> Cast : {{content.cast}}</p>

			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xl-4 ">
					<p> <img class="img-icon" src="{% static 'images/release_date.jpg' %}"> {{ content.release_date }}
					</p>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xl-4 ">
					<p><img class="img-icon" src="{% static 'images/language.jpg' %}">{{ content.language }}</p>

				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xl-4 ">
					<p><img class="img-icon" src="{% static 'images/genre.jpg' %}"> {{content.genre}}</p>
				</div>
			</div>
			{% if content.src %}
			<div id="movie-detail-rating">
				<div class="dashboard-container">
					<div class="row">
						<a class="btn btn-primary" href="{% url 'video' content.slug %}">Watch full movie</a>
					</div>
				</div>
			</div>
			{% else %}
			<br>
			{% endif %}
			<h5>Synopsis</h5>
			<p> {{content.description|safe}} </p>
		</div>
	
	</div>
	{% if content.src == false %}
	<div style="text-align: center;padding:0 11%;" >
	<div id="myBtnContainer" >
		<button class="btn active" onclick="filterSelection('all')"> Show all</button>
		{% for episode in episodes %}
		<button class="btn" onclick="filterSelection('{{episode.name}}')"> {{episode.name}}</button>
		{% endfor %}
	</div>
	<div class="container ">
		<div class="row">
			{% for season in episodes %}
			{% for episode in  season.slug|season_episodes %}
			<div class=" col-md-4 col-lg-6 col-xl-4">
				<div class="filterDiv {{season.name}}">
					<div class="  item-listing-container-skrn">
						<a
							href="{% if episode.src %}{% url 'video' episode.slug %}{% else %}{% url 'epi' episode.slug %}{% endif %}"><img
								style="height: 15rem" src="{{ episode.img.url }}" alt="Listing"></a>
						<div class="item-listing-text-skrn">
							<div class="item-listing-text-skrn-vertical-align">
								<h6><a
										href="{% if episode.src %}{% url 'video' episode.slug %}{% else %}{% url 'epi' episode.slug %}{% endif %}">{{episode.name}}</a>
								</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
			{% endfor %}

		</div>
	</div>

	{% endif %}
</div>
</div>




<!-- filter -->



<script src="{% static 'filter.js' %}"></script>



{% endblock %}