{% extends 'base.html' %}
{% load static %}


{% block content %}
<main id="col-main">
	<div class="clearfix"></div>
			{% if contents %}
				<div class="row" style="padding: 3rem;">
                    {% for content in contents %}
						{% include 'content_snippet.html' with content=content %}
					{% endfor %}
				</div><!-- close .row -->
			{% else %}
				<div class="row">
					{% include 'search_snippet.html' with query=query %}
				</div><!-- close .row -->
 			{% endif %}
				
			 {% if contents.has_other_pages %}
			 <ul class="pagination">
			   {% if contents.has_previous %}
				 <li><a href="?page={{ contents.previous_page_number }}">&laquo;</a></li>
			   {% else %}
				 <li class="disabled"><span>&laquo;</span></li>
			   {% endif %}
			   {% for i in contents.paginator.page_range %}
				 {% if contents.number == i %}
				   <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
				 {% else %}
				   <li><a href="?page={{ i }}">{{ i }}</a></li>
				 {% endif %}
			   {% endfor %}
			   {% if contents.has_next %}
				 <li><a href="?page={{ contents.next_page_number }}">&raquo;</a></li>
			   {% else %}
				 <li class="disabled"><span>&raquo;</span></li>
			   {% endif %}
			 </ul>
			 {% endif %}		
			</div>
		{% endblock content %}